<% include ./partials/header.ejs%>
<h1>Nirankar is a Police Officer in the Punjab Police. He is from Amritsar, Punjab. He likes spending time with his family and doing adventures.</h1>

</body>
</html>